.MemeForm {
    width:300px;
    text-align: center !important;
    padding: 0 20px;
}
h1,h2{
    text-align: center !important;
}
.smallInput{
    width:80px;
}
.half{
    display:flex;
    justify-content: space-between;
}